<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body>
    <div style="margin: 0 10% 0 10%">
      <h1>Simple Echo & Chat Server</h1>
      <table class="pure-table" id="chat">
        <thead>
        <tr><th>Message:</th></tr>
        </thead>
        <tbody>
          <% messages.each do |m| %>
            <tr><td><%= m["text"] %></td></tr>
          <% end %>
        </tbody>
      </table>
      <form class="pure-form" id="post">
        <fieldset>
          <input placeholder='type message here...' />
        </fieldset>
      </form>
    <div>
  </body>
  <script src="js/chat.js"></script>
</html>
